{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.tatum.io"
    }
  ],
  "info": {
    "version": "1.1.2",
    "title": "BLOCKCHAIN DATA"
  },
  "tags": [
    {
      "name": "Token API"
    },
    {
      "name": "NFT API"
    },
    {
      "name": "Wallet API"
    },
    {
      "name": "Transactions API"
    },
    {
      "name": "DeFi API"
    }
  ],
  "paths": {
    "/v4/data/collections": {
      "get": {
        "description": "<p><b>10 credits per API call</b></p>\n<p>Get all NFTs (ERC-721 and ERC-1155) and multitokens (ERC-1155 only) of your favorite collections! Our API lets you search for all tokens on:</p>\n<ul>\n<li>Celo - celo / celo-testnet</li>\n<li>Ethereum - ethereum / ethereum-sepolia / ethereum-holesky</li>\n<li>BNB (Binance) Smart Chain - bsc / bsc-testnet</li>\n<li>Polygon - polygon / polygon-amoy</li>\n<li>Horizen EON - eon-mainnet</li>\n<li>Chiliz - chiliz-mainnet</li>\n<li>Tezos - tezos-mainnet</li>\n</ul>\n<p>To get started:</p>\n<ul>\n<li>Provide a chain name and comma-separated list of collection addresses. Our API will return relevant information about each token, including its name, description, image, and more.</li>\n<li>Aside from relevant information about each token, the response also contains metadata (they can, however, be excluded by setting <code>excludeMetadata</code> to <code>true</code>).</li>\n<li>If not specified, the API returns results for all supported types of tokens (nft, multitokens), but you can also choose to filter only one <code>tokenType</code>.</li>\n<li>For Tezos blockchain query parameters <code>excludeMetadata</code> and <code>tokenType</code> won't have any effect on filtering data.</li>\n</ul>\n",
        "operationId": "GetCollectionsV4",
        "parameters": [
          {
            "description": "The blockchain to work with.",
            "in": "query",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum",
              "enum": [
                "ethereum",
                "ethereum-sepolia",
                "ethereum-holesky",
                "celo",
                "celo-testnet",
                "bsc",
                "bsc-testnet",
                "polygon",
                "eon",
                "chiliz"
              ]
            }
          },
          {
            "description": "The blockchain addresses of the collections.\nIt is possible to enter list of up to 10 addresses as a comma separated string.\n",
            "in": "query",
            "name": "collectionAddresses",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Contract address of the token.",
              "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
            }
          },
          {
            "description": "The option to select only specific token types.\nIt is possible to enter list of multiple types as a comma separated string.\nUse nft (includes ERC-721 and ERC-1155) or multitoken (ERC-1155 only).\n",
            "in": "query",
            "name": "tokenTypes",
            "schema": {
              "type": "string",
              "example": "nft",
              "enum": [
                "nft",
                "multitoken"
              ]
            }
          },
          {
            "description": "The option to exclude metadata from the response.",
            "in": "query",
            "name": "excludeMetadata",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "description": "The number of items per page (default is 50).",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number",
              "example": 10,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "description": "The offset to obtain next page of the data.",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "number",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "chain": {
                            "type": "string",
                            "description": "Name of the chain.",
                            "example": "ethereum"
                          },
                          "tokenId": {
                            "type": "string",
                            "description": "ID of the token.",
                            "maxLength": 78,
                            "example": "3",
                            "format": "uint256"
                          },
                          "tokenAddress": {
                            "type": "string",
                            "description": "Contract address of the token.",
                            "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
                          },
                          "tokenType": {
                            "type": "string",
                            "enum": [
                              "native",
                              "fungible",
                              "nft",
                              "multitoken"
                            ],
                            "description": "Enum representing the type of token.",
                            "example": "nft"
                          },
                          "metadataURI": {
                            "type": "string",
                            "description": "Metadata URL of the token. This data doesn't have to be present.\nThe safest way to obtain them in that case is from the NFT Contract.tokenURI() method call.\n",
                            "example": "ipfs://QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/3"
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Metadata scheme obtained from the url. This data don't have to be present.\nThe safest way to obtain them in that case is from the NFT Contract.tokenURI() method call.\n",
                            "example": {
                              "image": "ipfs://QmamEqaaVttv9AvfgM4Wa7d9Ettonep1NBQSDCtM7THUSX",
                              "attributes": [
                                {
                                  "trait_type": "Background",
                                  "value": "Club Exterior"
                                },
                                {
                                  "trait_type": "Fur",
                                  "value": "Radioactive"
                                },
                                {
                                  "trait_type": "Back",
                                  "value": "Beer Kegs"
                                },
                                {
                                  "trait_type": "Mouth",
                                  "value": "Goofball"
                                },
                                {
                                  "trait_type": "Eyes",
                                  "value": "Closed"
                                }
                              ]
                            }
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "chain": {
                            "type": "string",
                            "description": "Name of the chain.",
                            "example": "ethereum"
                          },
                          "tokenId": {
                            "type": "string",
                            "description": "ID of the token.",
                            "maxLength": 78,
                            "example": "3",
                            "format": "uint256"
                          },
                          "tokenAddress": {
                            "type": "string",
                            "description": "Contract address of the token.",
                            "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
                          },
                          "tokenType": {
                            "type": "string",
                            "enum": [
                              "native",
                              "fungible",
                              "nft",
                              "multitoken"
                            ],
                            "description": "Enum representing the type of token.",
                            "example": "nft"
                          },
                          "creator": {
                            "type": "string",
                            "description": "Address of the token creator.",
                            "example": "tz1hkNPg5jQ66pJpZH2boiF5AnbAcd1dt5KS"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the token.",
                            "example": "My token 1"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorCode": {
                      "example": "validation.failed",
                      "description": "validation.failed",
                      "type": "string"
                    },
                    "message": {
                      "example": "Request validation failed. Please see data for additional information.",
                      "description": "Request validation failed. Please see data for additional information.",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 400,
                      "description": "400",
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "target"
                        ],
                        "properties": {
                          "target": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request object present in the body of the HTTP request",
                            "example": {
                              "property": 12345
                            }
                          },
                          "value": {
                            "type": "number",
                            "description": "Value of the target object which validation is wrong. Can be of any data type, example here is using type number.",
                            "example": 12345
                          },
                          "property": {
                            "type": "string",
                            "description": "Property name of the target object which validation is wrong",
                            "example": "property1"
                          },
                          "constraints": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.",
                            "example": {
                              "min": "property1 must not be less than 50000"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "errorCode",
                    "message",
                    "statusCode",
                    "data"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.not.active",
                          "description": "subscription.not.active",
                          "type": "string"
                        },
                        "message": {
                          "example": "Subscription not active anymore.",
                          "description": "Subscription not active anymore.",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.invalid",
                          "description": "subscription.invalid",
                          "type": "string"
                        },
                        "message": {
                          "example": "Unable to find valid subscription for '${apiKey}'",
                          "description": "Unable to find valid subscription for '${apiKey}'",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to perform the operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Forbidden",
                      "description": "Forbidden",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 403,
                      "description": "403",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. There was an error on the server during the processing of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Internal server error",
                      "description": "Internal server error",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 500,
                      "description": "500",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-Key": []
          }
        ],
        "x-codeSamples": [],
        "summary": "Get tokens from a collection",
        "tags": [
          "NFT API"
        ]
      }
    },
    "/v3/data/collections": {
      "get": {
        "deprecated": true,
        "description": "<p><b>10 credits per API call</b></p>\n<p>Get all NFTs (ERC-721 and ERC-1155) and multitokens (ERC-1155 only) of your favorite collections! Our API lets you search for all tokens on:</p>\n<ul>\n<li>Celo - celo / celo-testnet</li>\n<li>Ethereum - ethereum / ethereum-sepolia / ethereum-holesky</li>\n<li>BNB (Binance) Smart Chain - bsc / bsc-testnet</li>\n<li>Polygon - polygon / polygon-amoy</li>\n<li>Horizen EON - eon-mainnet</li>\n<li>Chiliz - chiliz-mainnet</li>\n<li>Tezos - tezos-mainnet</li>\n</ul>\n<p>To get started:</p>\n<ul>\n<li>Provide a chain name and comma-separated list of collection addresses. Our API will return relevant information about each token, including its name, description, image, and more.</li>\n<li>Aside from relevant information about each token, the response also contains metadata (they can, however, be excluded by setting <code>excludeMetadata</code> to <code>true</code>).</li>\n<li>If not specified, the API returns results for all supported types of tokens (nft, multitokens), but you can also choose to filter only one <code>tokenType</code>.</li>\n<li>For Tezos blockchain query parameters <code>excludeMetadata</code> and <code>tokenType</code> won't have any effect on filtering data.</li>\n</ul>\n",
        "operationId": "GetCollections",
        "parameters": [
          {
            "description": "The blockchain to work with.",
            "in": "query",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum",
              "enum": [
                "ethereum",
                "ethereum-sepolia",
                "ethereum-holesky",
                "celo",
                "celo-testnet",
                "bsc",
                "bsc-testnet",
                "polygon",
                "eon",
                "chiliz"
              ]
            }
          },
          {
            "description": "The blockchain addresses of the collections.\nIt is possible to enter list of up to 10 addresses as a comma separated string.\n",
            "in": "query",
            "name": "collectionAddresses",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Contract address of the token.",
              "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
            }
          },
          {
            "description": "The option to select only specific token types.\nIt is possible to enter list of multiple types as a comma separated string.\nUse nft (includes ERC-721 and ERC-1155) or multitoken (ERC-1155 only).\n",
            "in": "query",
            "name": "tokenTypes",
            "schema": {
              "type": "string",
              "example": "nft",
              "enum": [
                "nft",
                "multitoken"
              ]
            }
          },
          {
            "description": "The option to exclude metadata from the response.",
            "in": "query",
            "name": "excludeMetadata",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "description": "The number of items per page (default is 50).",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number",
              "example": 10,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "description": "The offset to obtain next page of the data.",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "number",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "chain": {
                            "type": "string",
                            "description": "Name of the chain.",
                            "example": "ethereum"
                          },
                          "tokenId": {
                            "type": "string",
                            "description": "ID of the token.",
                            "maxLength": 78,
                            "example": "3",
                            "format": "uint256"
                          },
                          "tokenAddress": {
                            "type": "string",
                            "description": "Contract address of the token.",
                            "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
                          },
                          "tokenType": {
                            "type": "string",
                            "enum": [
                              "native",
                              "fungible",
                              "nft",
                              "multitoken"
                            ],
                            "description": "Enum representing the type of token.",
                            "example": "nft"
                          },
                          "metadataURI": {
                            "type": "string",
                            "description": "Metadata URL of the token. This data doesn't have to be present.\nThe safest way to obtain them in that case is from the NFT Contract.tokenURI() method call.\n",
                            "example": "ipfs://QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/3"
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Metadata scheme obtained from the url. This data don't have to be present.\nThe safest way to obtain them in that case is from the NFT Contract.tokenURI() method call.\n",
                            "example": {
                              "image": "ipfs://QmamEqaaVttv9AvfgM4Wa7d9Ettonep1NBQSDCtM7THUSX",
                              "attributes": [
                                {
                                  "trait_type": "Background",
                                  "value": "Club Exterior"
                                },
                                {
                                  "trait_type": "Fur",
                                  "value": "Radioactive"
                                },
                                {
                                  "trait_type": "Back",
                                  "value": "Beer Kegs"
                                },
                                {
                                  "trait_type": "Mouth",
                                  "value": "Goofball"
                                },
                                {
                                  "trait_type": "Eyes",
                                  "value": "Closed"
                                }
                              ]
                            }
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "chain": {
                            "type": "string",
                            "description": "Name of the chain.",
                            "example": "ethereum"
                          },
                          "tokenId": {
                            "type": "string",
                            "description": "ID of the token.",
                            "maxLength": 78,
                            "example": "3",
                            "format": "uint256"
                          },
                          "tokenAddress": {
                            "type": "string",
                            "description": "Contract address of the token.",
                            "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
                          },
                          "tokenType": {
                            "type": "string",
                            "enum": [
                              "native",
                              "fungible",
                              "nft",
                              "multitoken"
                            ],
                            "description": "Enum representing the type of token.",
                            "example": "nft"
                          },
                          "creator": {
                            "type": "string",
                            "description": "Address of the token creator.",
                            "example": "tz1hkNPg5jQ66pJpZH2boiF5AnbAcd1dt5KS"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the token.",
                            "example": "My token 1"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorCode": {
                      "example": "validation.failed",
                      "description": "validation.failed",
                      "type": "string"
                    },
                    "message": {
                      "example": "Request validation failed. Please see data for additional information.",
                      "description": "Request validation failed. Please see data for additional information.",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 400,
                      "description": "400",
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "target"
                        ],
                        "properties": {
                          "target": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request object present in the body of the HTTP request",
                            "example": {
                              "property": 12345
                            }
                          },
                          "value": {
                            "type": "number",
                            "description": "Value of the target object which validation is wrong. Can be of any data type, example here is using type number.",
                            "example": 12345
                          },
                          "property": {
                            "type": "string",
                            "description": "Property name of the target object which validation is wrong",
                            "example": "property1"
                          },
                          "constraints": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.",
                            "example": {
                              "min": "property1 must not be less than 50000"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "errorCode",
                    "message",
                    "statusCode",
                    "data"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.not.active",
                          "description": "subscription.not.active",
                          "type": "string"
                        },
                        "message": {
                          "example": "Subscription not active anymore.",
                          "description": "Subscription not active anymore.",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.invalid",
                          "description": "subscription.invalid",
                          "type": "string"
                        },
                        "message": {
                          "example": "Unable to find valid subscription for '${apiKey}'",
                          "description": "Unable to find valid subscription for '${apiKey}'",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to perform the operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Forbidden",
                      "description": "Forbidden",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 403,
                      "description": "403",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. There was an error on the server during the processing of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Internal server error",
                      "description": "Internal server error",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 500,
                      "description": "500",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-Key": []
          }
        ],
        "x-codeSamples": [],
        "summary": "Get tokens from a collection",
        "tags": [
          "NFT API"
        ]
      }
    },
    "/v4/data/metadata": {
      "get": {
        "description": "<p><b>5 credits per API call</b></p>\n<p>Get metadata of NFTs (ERC-721 and ERC-1155) or multitokens (ERC-1155 only) by IDs for a given token address! Our API lets you search for all tokens on:</p>\n<ul>\n<li>Celo - celo / celo-testnet</li>\n<li>Ethereum - ethereum / ethereum-sepolia / ethereum-holesky</li>\n<li>BNB (Binance) Smart Chain - bsc / bsc-testnet</li>\n<li>Polygon - polygon</li>\n<li>Horizen EON - eon-mainnet</li>\n<li>Chiliz - chiliz-mainnet</li>\n</ul>\n<p>To get started:</p>\n<ul>\n<li>Provide a chain name, token address and comma-separated list of IDs. Our API will return relevant metadata about each specified token, including its name, description, image, and more.</li>\n<li>Aside from the metadata information, the response also contains token types and metadata url minted in each token.</li>\n</ul>\n",
        "operationId": "GetMetadataV4",
        "parameters": [
          {
            "description": "The blockchain to work with.",
            "in": "query",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum",
              "enum": [
                "ethereum",
                "ethereum-sepolia",
                "ethereum-holesky",
                "celo",
                "celo-testnet",
                "bsc",
                "bsc-testnet",
                "polygon",
                "eon",
                "chiliz"
              ]
            }
          },
          {
            "description": "The blockchain address of the NFT to get metadata for.",
            "in": "query",
            "name": "tokenAddress",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Contract address of the token.",
              "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
            }
          },
          {
            "description": "The IDs of the tokens to get metadata for.\nIt is possible to enter list of multiple IDs as a comma separated string.\n",
            "in": "query",
            "name": "tokenIds",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IDs of the token.",
              "maxLength": 78,
              "example": "3,4",
              "format": "uint256"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chain": {
                        "type": "string",
                        "description": "Name of the chain.",
                        "example": "ethereum"
                      },
                      "tokenId": {
                        "type": "string",
                        "description": "ID of the token.",
                        "maxLength": 78,
                        "example": "3",
                        "format": "uint256"
                      },
                      "tokenAddress": {
                        "type": "string",
                        "description": "Contract address of the token.",
                        "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
                      },
                      "tokenType": {
                        "type": "string",
                        "enum": [
                          "native",
                          "fungible",
                          "nft",
                          "multitoken"
                        ],
                        "description": "Enum representing the type of token.",
                        "example": "nft"
                      },
                      "metadataURI": {
                        "type": "string",
                        "description": "Metadata URL of the token. This data doesn't have to be present.\nThe safest way to obtain them in that case is from the NFT Contract.tokenURI() method call.\n",
                        "example": "ipfs://QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/3"
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadata scheme obtained from the url. This data don't have to be present.\nThe safest way to obtain them in that case is from the NFT Contract.tokenURI() method call.\n",
                        "example": {
                          "image": "ipfs://QmamEqaaVttv9AvfgM4Wa7d9Ettonep1NBQSDCtM7THUSX",
                          "attributes": [
                            {
                              "trait_type": "Background",
                              "value": "Club Exterior"
                            },
                            {
                              "trait_type": "Fur",
                              "value": "Radioactive"
                            },
                            {
                              "trait_type": "Back",
                              "value": "Beer Kegs"
                            },
                            {
                              "trait_type": "Mouth",
                              "value": "Goofball"
                            },
                            {
                              "trait_type": "Eyes",
                              "value": "Closed"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorCode": {
                      "example": "validation.failed",
                      "description": "validation.failed",
                      "type": "string"
                    },
                    "message": {
                      "example": "Request validation failed. Please see data for additional information.",
                      "description": "Request validation failed. Please see data for additional information.",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 400,
                      "description": "400",
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "target"
                        ],
                        "properties": {
                          "target": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request object present in the body of the HTTP request",
                            "example": {
                              "property": 12345
                            }
                          },
                          "value": {
                            "type": "number",
                            "description": "Value of the target object which validation is wrong. Can be of any data type, example here is using type number.",
                            "example": 12345
                          },
                          "property": {
                            "type": "string",
                            "description": "Property name of the target object which validation is wrong",
                            "example": "property1"
                          },
                          "constraints": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.",
                            "example": {
                              "min": "property1 must not be less than 50000"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "errorCode",
                    "message",
                    "statusCode",
                    "data"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.not.active",
                          "description": "subscription.not.active",
                          "type": "string"
                        },
                        "message": {
                          "example": "Subscription not active anymore.",
                          "description": "Subscription not active anymore.",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.invalid",
                          "description": "subscription.invalid",
                          "type": "string"
                        },
                        "message": {
                          "example": "Unable to find valid subscription for '${apiKey}'",
                          "description": "Unable to find valid subscription for '${apiKey}'",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to perform the operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Forbidden",
                      "description": "Forbidden",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 403,
                      "description": "403",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. There was an error on the server during the processing of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Internal server error",
                      "description": "Internal server error",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 500,
                      "description": "500",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-Key": []
          }
        ],
        "x-codeSamples": [],
        "summary": "Get token metadata",
        "tags": [
          "NFT API"
        ]
      }
    },
    "/v3/data/metadata": {
      "get": {
        "deprecated": true,
        "description": "<p><b>5 credits per API call</b></p>\n<p>Get metadata of NFTs (ERC-721 and ERC-1155) or multitokens (ERC-1155 only) by IDs for a given token address! Our API lets you search for all tokens on:</p>\n<ul>\n<li>Celo - celo / celo-testnet</li>\n<li>Ethereum - ethereum / ethereum-sepolia / ethereum-holesky</li>\n<li>BNB (Binance) Smart Chain - bsc / bsc-testnet</li>\n<li>Polygon - polygon</li>\n<li>Horizen EON - eon-mainnet</li>\n<li>Chiliz - chiliz-mainnet</li>\n</ul>\n<p>To get started:</p>\n<ul>\n<li>Provide a chain name, token address and comma-separated list of IDs. Our API will return relevant metadata about each specified token, including its name, description, image, and more.</li>\n<li>Aside from the metadata information, the response also contains token types and metadata url minted in each token.</li>\n</ul>\n",
        "operationId": "GetMetadata",
        "parameters": [
          {
            "description": "The blockchain to work with.",
            "in": "query",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum",
              "enum": [
                "ethereum",
                "ethereum-sepolia",
                "ethereum-holesky",
                "celo",
                "celo-testnet",
                "bsc",
                "bsc-testnet",
                "polygon",
                "eon",
                "chiliz"
              ]
            }
          },
          {
            "description": "The blockchain address of the NFT to get metadata for.",
            "in": "query",
            "name": "tokenAddress",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Contract address of the token.",
              "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
            }
          },
          {
            "description": "The IDs of the tokens to get metadata for.\nIt is possible to enter list of multiple IDs as a comma separated string.\n",
            "in": "query",
            "name": "tokenIds",
            "required": true,
            "schema": {
              "type": "string",
              "description": "IDs of the token.",
              "maxLength": 78,
              "example": "3,4",
              "format": "uint256"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chain": {
                        "type": "string",
                        "description": "Name of the chain.",
                        "example": "ethereum"
                      },
                      "tokenId": {
                        "type": "string",
                        "description": "ID of the token.",
                        "maxLength": 78,
                        "example": "3",
                        "format": "uint256"
                      },
                      "tokenAddress": {
                        "type": "string",
                        "description": "Contract address of the token.",
                        "example": "0xba30E5F9Bb24caa003E9f2f0497Ad287FDF95623"
                      },
                      "tokenType": {
                        "type": "string",
                        "enum": [
                          "native",
                          "fungible",
                          "nft",
                          "multitoken"
                        ],
                        "description": "Enum representing the type of token.",
                        "example": "nft"
                      },
                      "metadataURI": {
                        "type": "string",
                        "description": "Metadata URL of the token. This data doesn't have to be present.\nThe safest way to obtain them in that case is from the NFT Contract.tokenURI() method call.\n",
                        "example": "ipfs://QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/3"
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadata scheme obtained from the url. This data don't have to be present.\nThe safest way to obtain them in that case is from the NFT Contract.tokenURI() method call.\n",
                        "example": {
                          "image": "ipfs://QmamEqaaVttv9AvfgM4Wa7d9Ettonep1NBQSDCtM7THUSX",
                          "attributes": [
                            {
                              "trait_type": "Background",
                              "value": "Club Exterior"
                            },
                            {
                              "trait_type": "Fur",
                              "value": "Radioactive"
                            },
                            {
                              "trait_type": "Back",
                              "value": "Beer Kegs"
                            },
                            {
                              "trait_type": "Mouth",
                              "value": "Goofball"
                            },
                            {
                              "trait_type": "Eyes",
                              "value": "Closed"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorCode": {
                      "example": "validation.failed",
                      "description": "validation.failed",
                      "type": "string"
                    },
                    "message": {
                      "example": "Request validation failed. Please see data for additional information.",
                      "description": "Request validation failed. Please see data for additional information.",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 400,
                      "description": "400",
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "target"
                        ],
                        "properties": {
                          "target": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request object present in the body of the HTTP request",
                            "example": {
                              "property": 12345
                            }
                          },
                          "value": {
                            "type": "number",
                            "description": "Value of the target object which validation is wrong. Can be of any data type, example here is using type number.",
                            "example": 12345
                          },
                          "property": {
                            "type": "string",
                            "description": "Property name of the target object which validation is wrong",
                            "example": "property1"
                          },
                          "constraints": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.",
                            "example": {
                              "min": "property1 must not be less than 50000"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "errorCode",
                    "message",
                    "statusCode",
                    "data"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.not.active",
                          "description": "subscription.not.active",
                          "type": "string"
                        },
                        "message": {
                          "example": "Subscription not active anymore.",
                          "description": "Subscription not active anymore.",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.invalid",
                          "description": "subscription.invalid",
                          "type": "string"
                        },
                        "message": {
                          "example": "Unable to find valid subscription for '${apiKey}'",
                          "description": "Unable to find valid subscription for '${apiKey}'",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to perform the operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Forbidden",
                      "description": "Forbidden",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 403,
                      "description": "403",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. There was an error on the server during the processing of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Internal server error",
                      "description": "Internal server error",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 500,
                      "description": "500",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-Key": []
          }
        ],
        "x-codeSamples": [],
        "summary": "Get token metadata",
        "tags": [
          "NFT API"
        ]
      }
    },
    "/v4/data/balances": {
      "get": {
        "description": "<p><b>50 credits per API call</b></p>\n<p>Get balances of fungible tokens (ERC-20), NFTs (ERC-721 and ERC-1155) or multitokens (ERC-1155 only) for a specific wallet address on the following blockchains:</p>\n<ul>\n<li>Celo - celo / celo-testnet</li>\n<li>Ethereum - ethereum / ethereum-sepolia / ethereum-holesky</li>\n<li>BNB (Binance) Smart Chain - bsc / bsc-testnet</li>\n<li>Polygon - polygon</li>\n<li>Tezos - tezos-mainnet</li>\n<li>Horizen EON - eon-mainnet</li>\n<li>Chiliz - chiliz-mainnet</li>\n</ul>\n<p>To get started:</p>\n<ul>\n<li>Provide a chain name and comma-separated list of addresses. Our API will return balances of each token along with further information such as its type, id, and more.</li>\n<li>Aside from relevant information about each token and its balance, the response also contains metadata (they can, however, be excluded by setting <code>excludeMetadata</code> to <code>true</code>).</li>\n<li>If not specified, the API returns balances for all supported types of tokens (fungible tokens, nft, multitokens), but you can also choose to filter specific <code>tokenTypes</code>.</li>\n<li>For Tezos blockchain, the API returns balance of any tokens including native token (XTZ) for specified wallet addresses. Following query parameters won't have any effect on filtering data <code>excludeMetadata</code>.</li>\n</ul>\n",
        "operationId": "GetBalancesV4",
        "parameters": [
          {
            "description": "The blockchain to work with.",
            "in": "query",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum",
              "enum": [
                "ethereum",
                "ethereum-sepolia",
                "celo",
                "celo-testnet",
                "bsc",
                "bsc-testnet",
                "polygon",
                "tezos",
                "eon",
                "chiliz"
              ]
            }
          },
          {
            "description": "The blockchain public wallet addresses.\nIt is possible to enter list of up to 10 addresses as a comma separated string.\n",
            "in": "query",
            "name": "addresses",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wallet address",
              "example": "0x80d8bac9a6901698b3749fe336bbd1385c1f98f2,0xAe680Ed83baF08a8028118Bd19859F8a0E744cc6"
            }
          },
          {
            "description": "The option to select only specific token types.\nIt is possible to enter list of multiple types as a comma separated string.\nUse fungible (ERC-20), nft (includes ERC-721 and ERC-1155) or multitoken (ERC-1155 only).\n",
            "in": "query",
            "name": "tokenTypes",
            "schema": {
              "type": "string",
              "example": "nft,multitoken",
              "enum": [
                "nft",
                "multitoken",
                "fungible"
              ]
            }
          },
          {
            "description": "The option to exclude metadata from the response.",
            "in": "query",
            "name": "excludeMetadata",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "description": "The number of items per page (default is 50).",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number",
              "example": 10,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "description": "The offset to obtain next page of the data.",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "number",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "chain": {
                                "type": "string",
                                "description": "Name of the chain.",
                                "example": "ethereum"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "native",
                                  "fungible",
                                  "nft",
                                  "multitoken"
                                ],
                                "description": "Enum representing the type of token.",
                                "example": "nft"
                              },
                              "address": {
                                "type": "string"
                              },
                              "balance": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "chain",
                              "type",
                              "address",
                              "balance"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "chain": {
                                "type": "string",
                                "description": "Name of the chain.",
                                "example": "ethereum"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "native",
                                  "fungible",
                                  "nft",
                                  "multitoken"
                                ],
                                "description": "Enum representing the type of token.",
                                "example": "nft"
                              },
                              "address": {
                                "type": "string"
                              },
                              "balance": {
                                "type": "string"
                              },
                              "tokenAddress": {
                                "type": "string"
                              },
                              "tokenId": {
                                "type": "string"
                              },
                              "metadataURI": {
                                "type": "string"
                              },
                              "lastUpdatedBlockNumber": {
                                "type": "integer"
                              },
                              "metadata": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "chain",
                              "type",
                              "address",
                              "balance",
                              "tokenAddress",
                              "lastUpdatedBlockNumber"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "chain": {
                                "type": "string",
                                "description": "Name of the chain.",
                                "example": "ethereum"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "native",
                                  "fungible",
                                  "nft",
                                  "multitoken"
                                ],
                                "description": "Enum representing the type of token.",
                                "example": "nft"
                              },
                              "address": {
                                "type": "string"
                              },
                              "balance": {
                                "type": "string"
                              },
                              "tokenAddress": {
                                "type": "string"
                              },
                              "lastUpdatedBlockNumber": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "chain",
                              "type",
                              "address",
                              "balance",
                              "tokenAddress",
                              "lastUpdatedBlockNumber"
                            ]
                          }
                        ]
                      },
                      "description": "List of all balances for all selected tokens.",
                      "example": [
                        {
                          "chain": "ethereum-mainnet",
                          "address": "0xae680ed83baf08a8028118bd19859f8a0e744cc6",
                          "balance": "283333333333333333333",
                          "tokenAddress": "0x45dd18c5e0fa701abff449f6542aa53e258710b4",
                          "lastUpdatedBlockNumber": 14792747,
                          "type": "fungible"
                        },
                        {
                          "chain": "ethereum-mainnet",
                          "address": "0xae680ed83baf08a8028118bd19859f8a0e744cc6",
                          "balance": "8690000000000000000",
                          "tokenAddress": "0x090f21a84a0e9674c1828aca1db69ec8ae1454e8",
                          "lastUpdatedBlockNumber": 15204015,
                          "type": "fungible"
                        },
                        {
                          "chain": "ethereum-mainnet",
                          "address": "0xae680ed83baf08a8028118bd19859f8a0e744cc6",
                          "balance": "1",
                          "tokenAddress": "0xa58b5224e2fd94020cb2837231b2b0e4247301a6",
                          "lastUpdatedBlockNumber": 15326272,
                          "type": "multitoken",
                          "tokenId": "2605",
                          "metadataURI": "https://www.cryptovoxels.com/c/1/2605",
                          "metadata": {
                            "url": "https://www.cryptovoxels.com/c/1/2605",
                            "name": "Link Marine Helmet",
                            "description": "Chainlink Marine Helmet, give Sergey Nazarov your love."
                          }
                        }
                      ]
                    },
                    "prevPage": {
                      "type": "string",
                      "description": "Cursor pagination, used to get previous page of results (work in progress, not used right now).",
                      "example": ""
                    },
                    "nextPage": {
                      "type": "string",
                      "description": "Cursor pagination, used to get next page of results (work in progress, not used right now).",
                      "example": ""
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorCode": {
                      "example": "validation.failed",
                      "description": "validation.failed",
                      "type": "string"
                    },
                    "message": {
                      "example": "Request validation failed. Please see data for additional information.",
                      "description": "Request validation failed. Please see data for additional information.",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 400,
                      "description": "400",
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "target"
                        ],
                        "properties": {
                          "target": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request object present in the body of the HTTP request",
                            "example": {
                              "property": 12345
                            }
                          },
                          "value": {
                            "type": "number",
                            "description": "Value of the target object which validation is wrong. Can be of any data type, example here is using type number.",
                            "example": 12345
                          },
                          "property": {
                            "type": "string",
                            "description": "Property name of the target object which validation is wrong",
                            "example": "property1"
                          },
                          "constraints": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.",
                            "example": {
                              "min": "property1 must not be less than 50000"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "errorCode",
                    "message",
                    "statusCode",
                    "data"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.not.active",
                          "description": "subscription.not.active",
                          "type": "string"
                        },
                        "message": {
                          "example": "Subscription not active anymore.",
                          "description": "Subscription not active anymore.",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.invalid",
                          "description": "subscription.invalid",
                          "type": "string"
                        },
                        "message": {
                          "example": "Unable to find valid subscription for '${apiKey}'",
                          "description": "Unable to find valid subscription for '${apiKey}'",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to perform the operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Forbidden",
                      "description": "Forbidden",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 403,
                      "description": "403",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. There was an error on the server during the processing of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Internal server error",
                      "description": "Internal server error",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 500,
                      "description": "500",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-Key": []
          }
        ],
        "x-codeSamples": [],
        "summary": "Get balances of addresses",
        "tags": [
          "Wallet API"
        ]
      }
    },
    "/v3/data/balances": {
      "get": {
        "deprecated": true,
        "description": "<p><b>50 credits per API call</b></p>\n<p>Get balances of fungible tokens (ERC-20), NFTs (ERC-721 and ERC-1155) or multitokens (ERC-1155 only) for a specific wallet address on the following blockchains:</p>\n<ul>\n<li>Celo - celo / celo-testnet</li>\n<li>Ethereum - ethereum / ethereum-sepolia / ethereum-holesky</li>\n<li>BNB (Binance) Smart Chain - bsc / bsc-testnet</li>\n<li>Polygon - polygon</li>\n<li>Tezos - tezos-mainnet</li>\n<li>Horizen EON - eon-mainnet</li>\n<li>Chiliz - chiliz-mainnet</li>\n</ul>\n<p>To get started:</p>\n<ul>\n<li>Provide a chain name and comma-separated list of addresses. Our API will return balances of each token along with further information such as its type, id, and more.</li>\n<li>Aside from relevant information about each token and its balance, the response also contains metadata (they can, however, be excluded by setting <code>excludeMetadata</code> to <code>true</code>).</li>\n<li>If not specified, the API returns balances for all supported types of tokens (fungible tokens, nft, multitokens), but you can also choose to filter specific <code>tokenTypes</code>.</li>\n<li>For Tezos blockchain, the API returns balance of any tokens including native token (XTZ) for specified wallet addresses. Following query parameters won't have any effect on filtering data <code>excludeMetadata</code>.</li>\n</ul>\n",
        "operationId": "GetBalances",
        "parameters": [
          {
            "description": "The blockchain to work with.",
            "in": "query",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum",
              "enum": [
                "ethereum",
                "ethereum-sepolia",
                "celo",
                "celo-testnet",
                "bsc",
                "bsc-testnet",
                "polygon",
                "tezos",
                "eon",
                "chiliz"
              ]
            }
          },
          {
            "description": "The blockchain public wallet addresses.\nIt is possible to enter list of up to 10 addresses as a comma separated string.\n",
            "in": "query",
            "name": "addresses",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wallet address",
              "example": "0x80d8bac9a6901698b3749fe336bbd1385c1f98f2,0xAe680Ed83baF08a8028118Bd19859F8a0E744cc6"
            }
          },
          {
            "description": "The option to select only specific token types.\nIt is possible to enter list of multiple types as a comma separated string.\nUse fungible (ERC-20), nft (includes ERC-721 and ERC-1155) or multitoken (ERC-1155 only).\n",
            "in": "query",
            "name": "tokenTypes",
            "schema": {
              "type": "string",
              "example": "nft,multitoken",
              "enum": [
                "nft",
                "multitoken",
                "fungible"
              ]
            }
          },
          {
            "description": "The option to exclude metadata from the response.",
            "in": "query",
            "name": "excludeMetadata",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "description": "The number of items per page (default is 50).",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "number",
              "example": 10,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "description": "The offset to obtain next page of the data.",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "number",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "chain": {
                                "type": "string",
                                "description": "Name of the chain.",
                                "example": "ethereum"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "native",
                                  "fungible",
                                  "nft",
                                  "multitoken"
                                ],
                                "description": "Enum representing the type of token.",
                                "example": "nft"
                              },
                              "address": {
                                "type": "string"
                              },
                              "balance": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "chain",
                              "type",
                              "address",
                              "balance"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "chain": {
                                "type": "string",
                                "description": "Name of the chain.",
                                "example": "ethereum"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "native",
                                  "fungible",
                                  "nft",
                                  "multitoken"
                                ],
                                "description": "Enum representing the type of token.",
                                "example": "nft"
                              },
                              "address": {
                                "type": "string"
                              },
                              "balance": {
                                "type": "string"
                              },
                              "tokenAddress": {
                                "type": "string"
                              },
                              "tokenId": {
                                "type": "string"
                              },
                              "metadataURI": {
                                "type": "string"
                              },
                              "lastUpdatedBlockNumber": {
                                "type": "integer"
                              },
                              "metadata": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "chain",
                              "type",
                              "address",
                              "balance",
                              "tokenAddress",
                              "lastUpdatedBlockNumber"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "chain": {
                                "type": "string",
                                "description": "Name of the chain.",
                                "example": "ethereum"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "native",
                                  "fungible",
                                  "nft",
                                  "multitoken"
                                ],
                                "description": "Enum representing the type of token.",
                                "example": "nft"
                              },
                              "address": {
                                "type": "string"
                              },
                              "balance": {
                                "type": "string"
                              },
                              "tokenAddress": {
                                "type": "string"
                              },
                              "lastUpdatedBlockNumber": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "chain",
                              "type",
                              "address",
                              "balance",
                              "tokenAddress",
                              "lastUpdatedBlockNumber"
                            ]
                          }
                        ]
                      },
                      "description": "List of all balances for all selected tokens.",
                      "example": [
                        {
                          "chain": "ethereum-mainnet",
                          "address": "0xae680ed83baf08a8028118bd19859f8a0e744cc6",
                          "balance": "283333333333333333333",
                          "tokenAddress": "0x45dd18c5e0fa701abff449f6542aa53e258710b4",
                          "lastUpdatedBlockNumber": 14792747,
                          "type": "fungible"
                        },
                        {
                          "chain": "ethereum-mainnet",
                          "address": "0xae680ed83baf08a8028118bd19859f8a0e744cc6",
                          "balance": "8690000000000000000",
                          "tokenAddress": "0x090f21a84a0e9674c1828aca1db69ec8ae1454e8",
                          "lastUpdatedBlockNumber": 15204015,
                          "type": "fungible"
                        },
                        {
                          "chain": "ethereum-mainnet",
                          "address": "0xae680ed83baf08a8028118bd19859f8a0e744cc6",
                          "balance": "1",
                          "tokenAddress": "0xa58b5224e2fd94020cb2837231b2b0e4247301a6",
                          "lastUpdatedBlockNumber": 15326272,
                          "type": "multitoken",
                          "tokenId": "2605",
                          "metadataURI": "https://www.cryptovoxels.com/c/1/2605",
                          "metadata": {
                            "url": "https://www.cryptovoxels.com/c/1/2605",
                            "name": "Link Marine Helmet",
                            "description": "Chainlink Marine Helmet, give Sergey Nazarov your love."
                          }
                        }
                      ]
                    },
                    "prevPage": {
                      "type": "string",
                      "description": "Cursor pagination, used to get previous page of results (work in progress, not used right now).",
                      "example": ""
                    },
                    "nextPage": {
                      "type": "string",
                      "description": "Cursor pagination, used to get next page of results (work in progress, not used right now).",
                      "example": ""
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorCode": {
                      "example": "validation.failed",
                      "description": "validation.failed",
                      "type": "string"
                    },
                    "message": {
                      "example": "Request validation failed. Please see data for additional information.",
                      "description": "Request validation failed. Please see data for additional information.",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 400,
                      "description": "400",
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "target"
                        ],
                        "properties": {
                          "target": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request object present in the body of the HTTP request",
                            "example": {
                              "property": 12345
                            }
                          },
                          "value": {
                            "type": "number",
                            "description": "Value of the target object which validation is wrong. Can be of any data type, example here is using type number.",
                            "example": 12345
                          },
                          "property": {
                            "type": "string",
                            "description": "Property name of the target object which validation is wrong",
                            "example": "property1"
                          },
                          "constraints": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.",
                            "example": {
                              "min": "property1 must not be less than 50000"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "errorCode",
                    "message",
                    "statusCode",
                    "data"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not valid or inactive subscription key present in the HTTP Header.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.not.active",
                          "description": "subscription.not.active",
                          "type": "string"
                        },
                        "message": {
                          "example": "Subscription not active anymore.",
                          "description": "Subscription not active anymore.",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "errorCode": {
                          "example": "subscription.invalid",
                          "description": "subscription.invalid",
                          "type": "string"
                        },
                        "message": {
                          "example": "Unable to find valid subscription for '${apiKey}'",
                          "description": "Unable to find valid subscription for '${apiKey}'",
                          "type": "string"
                        },
                        "statusCode": {
                          "example": 401,
                          "description": "401",
                          "type": "number"
                        }
                      },
                      "required": [
                        "errorCode",
                        "message",
                        "statusCode"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The request is authenticated, but it is not possible to perform the operation due to logical error or invalid permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Forbidden",
                      "description": "Forbidden",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 403,
                      "description": "403",
                      "type": "number"
                    }
                  },
                  "required": [
                    "statusCode",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. There was an error on the server during the processing of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Internal server error",
                      "description": "Internal server error",
                      "type": "string"
                    },
                    "statusCode": {
                      "example": 500,
                      "description": "500",
                      "type": "number"
                    }
                  },
                  "required": [
[...]
